@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: #fff;
    text-transform: uppercase;
}

hr {
  border-top: 1px solid #fff;
}

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 50px 0;    
}

/* BgColors..........................................*/

.bg-black {
    background-color: #000;
}

/* Header........................................*/

.logo {
    width: 250px;
}

 #menu {
    border-bottom: 1px solid #333;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);     
}

/* Footer.........................................*/
footer {
    background-color: #000;
    position: fixed;
    height: 65px;
    bottom: 0;
    width: 100%;
}

footer i {
    font-size: 30px;
    color: #bb9126;
    transition: all 0.35 ease-in-out;
    padding-top: 15px;
    -moz-transition: all 0.35 ease-in-out;
    -webkit-transition: all 0.35 ease-in-out;
    -o-transition: all 0.35 ease-in-out;
}

footer i:hover {
    color: #d35e2c;
}

/* TABLE........................................*/
/* --- Credit: Table from https://trio.progressionstudios.com/ ---*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;    
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    border-bottom: 1px solid #39393b;
    border-bottom: 1px solid rgba(255, 255, 255, .2);    
}

td {
    vertical-align: top;
    text-align: center;    
    font-size: 14px;
    line-height: 1.5;
    color: #cacacd;
    padding: 12px 0px;
    color: #efefef;    
}

table a {
    color: #ffffff;
}

/* HOME section........................................*/

#home {
    background-color: #b0bec5;    
    height: 800px;
    width: 100%;
    background: url('../images/band01.jpg') no-repeat center center;
    position: relative;
}

#home .container {
    padding-top: 0;
    height: 600px;
}

#position-tour-table-home {
    color: #fff;
}

table#tour-table-home {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    background: rgba(100, 100, 100, 0.45);
}

table#tour-table {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
    background: rgba(100, 100, 100, 0.45);
}

table a.rsvp-band.not-avail-band, body a.rsvp-band.not-avail-band:hover {
    border-color: #ed412f;
}
table a.rsvp-band {
    border-color: #2faced;
}
table a.rsvp-band {
    border-color: #2faced;
}
a.rsvp-band {
    text-decoration: none;
    line-height: 1;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    font-size: 11px;
    color: #ffffff;
    padding: 4px 8px;
    border: 2px solid red;
    position: relative;
    bottom: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/* TOUR section........................................*/

#tour {
    background-color: #222225;    
}

#tour-section-image {
    width: 50%;
    background: url('../images/tour.jpg') no-repeat center center;
    position: relative;    
}

#tour-section-div-table {
    padding-top: 100px;
}

caption a {
    text-decoration: none;
    text-transform: uppercase;
    color:#bb9126;
}

caption a:hover {
    text-decoration: none;
    text-transform: uppercase;
    color:#bb9126;
}

}
/* GALLERY section........................................*/

#gallery {
    background-color: #298ec2;
}

#gallery h2 {
    color: #000;
}

#gallery hr {
  border-top: 1px solid #000;
}

/* ABOUT section........................................*/

#about{
    background-color: #298ec2;
}

#about-section-image {
    width: 100%;
    background: url('../images/about.jpg') no-repeat center center;
    position: relative;    
}

#about-text {
    padding-top: 100px;
    height: 800px;
    color: #fff;
}

#about-text span {
    font-weight: bold;
    font-style: italic;
}

/* CONTACT section........................................*/

#contact{
    min-height: 90vh;    
    background-color: #546e7a;
    background: url('../images/contact.jpg') no-repeat center center;
    background-position: top;
    background-size: cover;
}

#contact .container {
   padding-top: 200px;    
}

#contact h2, hr {
    color:#bb9126;
}


/*------------ MEDIA QUERIES ------------*/

/*phones*/
@media screen and (max-width: 768px) {
    #home {
        padding-top: 100px;
    }  
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 
    #home {
        background-color: #000;        
        background-size: 100%;
    }            
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #home {
        background-color: #000;        
        background-size: 100%;
    }     

    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }    
}