@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    font-family: 'Roboto', sans-serif; 
}

section {
	min-height: 100vh;
}

/* BgColors..........................................*/

.bg-black {
    background-color: #000;
}

/* Misc..........................................*/

.uppercase {
    text-transform: uppercase;
}

/* Header........................................*/

header {
    margin: 0;
}

.logo {
    width: 250px;
}

 .navbar-center {
}

/* Footer.........................................*/
footer {
    background-color: #000;
    position: fixed;
    height: 65px;
    bottom: 0;
    width: 100%;
}

footer i {
    font-size: 30px;
    color: #bb9126;
    transition: all 0.35 ease-in-out;
    padding-top: 15px;
    -moz-transition: all 0.35 ease-in-out;
    -webkit-transition: all 0.35 ease-in-out;
    -o-transition: all 0.35 ease-in-out;
}

footer i:hover {
    color: #d35e2c;
}

/*
.row > div {
  background: lightgrey;
  border: 1px solid grey;
}
*/

/* TABLE........................................*/

table {
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;    
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    border-bottom: 1px solid #39393b;
    border-bottom: 1px solid rgba(255, 255, 255, .2);    
}

td {
    vertical-align: top;
    text-align: center;    
    font-size: 14px;
    line-height: 1.5;
    color: #cacacd;
    padding: 12px 0px;
    color: #efefef;    
}

table a {
    color: #ffffff;
}

/* HOME section........................................*/

#home {
  height: 800px;
  width: 100%;
  background: url('../images/band01.jpg') no-repeat center center;
  position: relative;
}

#position-tour-table-home {
    color: #fff;
    position: absolute;
    width: 1140px;
    margin: 0 auto;    
    margin-top: 150px;
}

table#tour-table-home {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    background: rgba(100, 100, 100, 0.45);
}

body a.rsvp-trio.not-avail-trio, body a.rsvp-trio.not-avail-trio:hover {
    border-color: #ed412f;
}
body a.rsvp-trio {
    border-color: #2faced;
}
body a.rsvp-trio {
    border-color: #2faced;
}
a.rsvp-trio {
    text-decoration: none;
    line-height: 1;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    font-size: 11px;
    color: #ffffff;
    padding: 4px 8px;
    border: 2px solid red;
    position: relative;
    bottom: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}


/*------------ MEDIA QUERIES ------------*/

/*phones*/
@media screen and (max-width: 768px) {
    #home {
        height: 0px;
    }
}

/*phones and tablets*/
@media screen and (max-width: 992px) {
}

/*desktops and XL screens*/
@media screen and (min-width: 993px) {
 
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 
    #home {
        background-color: #000;        
        background-size: 100%;
    }       
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #home {
        background-color: #000;        
        background-size: 100%;
    }     

    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }    
}